header{
  display:flex;
  height:400px;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}


