nav{
  background-color: #4056A1;
  height: 70px;
  width:100%;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed;
  top:0;
 }
